.jp-container{
    width:590px;
    height:850px;
    position:relative;
    //background:#fff;
    //border:1px solid #D8DFEA;
	float:left;
	margin-left:20px;

}
.jp-container a{
    padding:5px 20px 15px 20px;
    display:block;
    line-height:20px;
    background-color: #fff;
    border-bottom:1px solid #F2F4F8;
    border-top:1px solid #D8DFEA;
}
.jp-container a:first-child{
    border-top:none;
}
.jp-container a:last-child{
    border-bottom:none;
}
.jp-container a:hover{
   background:#ECEFF5;
   border-bottom-color:#ECEFF5;
}
.jp-container a h3{ 
    font-size:14px;
    font-weight:bold;
    padding:0px;
	text-transform:uppercase;
}

.jp-container2{
    width:590px;
    height:500px;
    position:relative;
    //background:#fff;
    //border:1px solid #D8DFEA;
	float:left;
	margin-left:20px;

}
.jp-container2 a{
    padding:5px 20px 15px 20px;
    display:block;
    line-height:20px;
    background-color: #fff;
    border-bottom:1px solid #F2F4F8;
    border-top:1px solid #D8DFEA;
}
.jp-container2 a:first-child{
    border-top:none;
}
.jp-container2 a:last-child{
    border-bottom:none;
}
.jp-container2 a:hover{
   background:#ECEFF5;
   border-bottom-color:#ECEFF5;
}
.jp-container2 a h3{ 
    font-size:14px;
    font-weight:bold;
    padding:0px;
	text-transform:uppercase;
}